.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  h1 {
    margin-bottom: 20px;
  }
  .login__inputContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    &:not(:first-child) {
      margin-top: 16px;
    }
    .inputContainer__label {
      margin-bottom: 4px;
    }
    .inputContainer__input {
      height: 40px;
      border: 1px solid #a2a2a2;
      border-radius: 4px;
      padding-left: 4px;
      &:hover {
        border-color: darken(#a2a2a2, 25%);
      }
      &:focus {
        border: 1px solid #1976d2;
      }
    }
  }
  .login__button {
    margin-top: 20px;
    padding: 0 20px;
    height: 40px;
    flex: none;
    margin-left: auto;
    background: #1976d2;
    color: #fff;
    border-radius: 4px;
    &:hover {
      background: darken(#1976d2, 5%);
    }
  }
}
